<%
    var page_title = domain;
%>

<% include header %>

<h1><%= domain %></h1>




<pre>
    root_ip_addresses: <%= root_ip_addresses %>
    root_ip_status:    <%= root_ip_status %>
    www_ip_addresses:  <%= www_ip_addresses %>
    www_ip_status:     <%= www_ip_status %>
    
</pre>

<!--
    <div class="result-box ok">
        <h2>OK - Something went well</h2>
    
        <p>Some text that describes the result of the test being carried out.</p>
    
        <p>This is some more text…</p>
    </div>
    
    <div class="result-box warning">
        <h2>Warning - something is not so good</h2>
    
        <p>This is good</p>
    </div>
    
    <div class="result-box error">
        <h2>Error - something is really bad</h2>
    
        <p>This is good</p>
    </div>
-->

<% if (root_ip_status == 'does_not_resolve') { %>

<div class="result-box error">
    <h2>Error - "<%= domain %>" does not resolve!</h2>

    <p>This means that if people type <%= domain %> into the address bar of their browsers they'll just see the browser error page. At best they'll correct the address and be annoyed, at worst they'll abandon their attempt to get to your site.</p>

    <p>You should set up your DNS so that '<%= domain %>' resolves to '<%= configGeneral.redirector_ip_address %>'.</p>
    
    <p><a href="/domain/<%= domain %>/dns_help">Full instructions FIXME</a> for changing your DNS.</p>
</div>
    
<% } else if (root_ip_status == 'not_our_ip') { %>
    <div class="result-box warning">
        <h2>Warning - "<%= domain %>" is not pointing at our servers.</h2>
    
        <p>This might not be a problem. It is now your responsibility to ensure that the <%= root_ip_addresses.length == 1 ? 'server' : 'servers' %> listening on <%= root_ip_addresses.join(' and ') %> <%= root_ip_addresses.length == 1 ? 'is' : 'are' %> correctly configured to serve content to your users, or to redirect them to www.<%= domain %>.</p>

        <p>Better is to let our server redirect all your <%= domain %> traffic to www.<%= domain %> - just use our IP address of <%= configGeneral.redirector_ip_address %>.</p>

        <p><a href="/domain/<%= domain %>/dns_help">Full instructions FIXME</a> for changing your DNS.</p>
    </div>
<% } else if (root_ip_status == 'is_our_ip') { %>
    <div class="result-box ok">
        <h2>OK - <%= domain %> is pointing to our server.</h2>
    
        <p>Traffic to <%= domain %> will be redirected to www.<%= domain %>.</p>
        
        <p>You don't need to worry about losing traffic or maintaining a server to redirect them.</p>
    </div>
<% } else { %>
    <% console.log("ERROR - got unknown root_ip_status %s for domain %s.", root_ip_status, domain )%>
<% } %>
    

<% if (www_ip_status == 'does_not_resolve') { %>

    <div class="result-box error">
        <h2>Error - "www.<%= domain %>" does not resolve!</h2>
    
        <p>This means that if people type www.<%= domain %> into the address bar of their browsers they'll just see the browser error page.</p>
    
        <p>You should fix this by changing your DNS settings so that "www.<%= domain %>" resolves to the name or IP address of the server hosting your website.</p>
    
    </div>
    
<% } else if (www_ip_status == 'not_our_ip') { %>
    <!-- Nothing to report to user here -->
<% } else if (www_ip_status == 'is_our_ip') { %>

    <div class="result-box error">
        <h2>ERROR - www.<%= domain %> is pointing to our server.</h2>
    
        <p>Anyone going to www.<%= domain %> will see our redirection error page. This is because it makes no sense to redirect people from www.<%= domain %> to <strong>www.</strong>www.<%= domain %>.</p>

        <p>You should fix this by changing your DNS settings so that "www.<%= domain %>" resolves to the name or IP address of the server hosting your website.</p>

    </div>

<% } else { %>
    <% console.log("ERROR - got unknown www_ip_status %s for domain %s.", www_ip_status, domain )%>
<% } %>
    



<% if (redirect_type == 'instant') { %>
    <div class="result-box ok">

        <h2>OK - Instant redirection enabled</h2>
    
        <p>Visitors to <%= domain %> will be instantly redirected to www.<%= domain %>.</p>
        
        <p>Search engines will know that www.<%= domain %> is the website that they should index.</p>
        
        <p>All is well.</p>

    </div>
<% } else if (redirect_type == 'instant_expires_soon') { %>
    <div class="result-box warning">

        <h2>Note - your instant redirection is about to expire!</h2>
    
        <p>Visitors to <%= domain %> are currently being instantly redirected to www.<%= domain %>. But your subscription is about to expire and your visitors will see the redirection notice.</p>
        
        <p><a href="FIXME">Renew now</a> to keep your visitors happy.</p>

    </div>
<% } else if (redirect_type == 'free') { %>
<%  if (root_ip_status == 'is_our_ip') { %>
    <div class="result-box warning">
        <h2>Note - visitors will see the interstitial page.</h2>
    
        <p>Visitors to <%= domain %> will be redirected to www.<%= domain %> but first they'll see a notice that they are being redirected.</p>

        <p>They'll also only be redirected to the homepage, not to other pages on your site.</p>
        
        <p><a href="FIXME">Upgrade to instant redirection</a> now to skip the redirection notice.</p>

    </div>
<%   } %>
<% } else { %>
    <% console.log("ERROR - got unknown redirect_type %s for domain %s.", redirect_type, domain )%>
<% } %>

<% include footer %>
